body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(76, 175, 175);
    padding: 10px 20px;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo_remera {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.nombre_empresa {
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    display: inline-block;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-center a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 15px;
    font-size: 17px;
    transition: color 0.3s ease;
}

.nav-center a:hover {
    color: yellow;
}

.barra_busqueda {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.barra_busqueda input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.barra_busqueda input:focus {
    border-color: #f0a500;
}

.barra_busqueda button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(255, 255, 175);
    color: black;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.barra_busqueda button:hover {
    color: #ffffff;
    background-color: #1a1a1a;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 50px;
    padding-bottom: 150px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 218, 218);
    color: #282828;
    padding: 15px;
    text-align: center;
    border: 1px solid #282828;
}

.product-image {
    width: 20%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-transfer-price {
    color: #4CAF50;
    font-size: 14px;
    margin-bottom: 5px;
}

.product-installments {
    font-size: 12px;
    color: #585858;
}

.Comprar_ahora{
    border: 1px solid #282828;
    padding-left: 4px;
    padding-right: 4px;
    font-style: normal;
    text-decoration: none;
    color:  #282828;
}

.footer {
    background-color: #1c1c1c;
    color: white;
    padding: 3rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.footer-section h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: rem;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    color: #cccccc;
}

.grid_pago {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 0.5rem; 
    justify-content: start; 
}

.icono_pago {
    background-color: white;
    border-radius: 4px;
    height: 50px;
    width: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5rem; 
}

.contacto {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icono_mail {
    font-size: 1.2rem;
}

.enviar_mail {
    display: flex;
    gap: 0.5rem;
}

.enviar_mail input {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.enviar_mail input::placeholder {
    color: #cccccc;
}

.enviar_mail button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.enviar_mail button:hover {
    background-color: white;
    color: #1c1c1c;
}

.seccion_compra {
    margin-top: 2rem;
}

.metodos_compra {
    display: flex;
    gap: 1rem;
}

.icono_compra {
    background-color: white;
    border-radius: 4px;
    height: 3rem; 
    width: 6rem;  
    background-size: cover; 
    background-position: center; 
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-left {
        width: 100%;
    }

    .logo_remera {
        height: 30px;
        width: 30px;
    }

    .nombre_empresa {
        font-size: 18px;
        margin-left: 5px;
    }

    .nav-center {
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .nav-center a {
        font-size: 18px;
        margin: 10px 20px;
    }

    .barra_busqueda {
        width: 100%;
        margin: 10px 0;
        padding-left: 20px;
    }

    .barra_busqueda input {
        width: 80%;
    }

    .product-grid {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .footer-section h2 {
        font-size: 1.2rem;
    }

    .footer-section ul li {
        font-size: 15px;
    }

    .grid_pago {
        grid-template-columns: repeat(0, 1fr);
    }

    .contacto {
        flex-direction: row;
        align-items: center;
    }

    .enviar_mail {
        flex-direction: row;
        align-items: center;
    }

    .enviar_mail input {
        width: 80%;
    }

    .seccion_compra {
        margin-top: 1rem;
    }

    .metodos_compra {
        flex-direction: row;
        align-items: center;
    }

    .icono_compra {
        height: 4rem;
        width: 6rem;
        background-size: contain;
    }
}

@media (max-width: 375px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-left {
        width: 100%;
    }

    .logo_remera {
        height: 25px;
        width: 25px;
    }

    .nombre_empresa {
        font-size: 16px;
        margin-left: 5px;
    }

    .nav-center {
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }

    .nav-center a {
        font-size: 15px;
        margin: 8px 15px;
    }

    .barra_busqueda {
        width: 100%;
        margin: 10px 0px;
        padding-left: 2px;
    }

    .barra_busqueda input {
        width: 80%;
    }

    .product-grid {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .product-item {
        padding: 10px;
    }

    .product-image {
        width: 30%;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .footer-section h2 {
        font-size: 1rem;
    }

    .footer-section ul li {
        font-size: 12px;
    }

    

    .contacto {
        flex-direction: row;
        align-items: center;
    }

    .enviar_mail {
        flex-direction: row;
        align-items: center;
    }

    .enviar_mail input {
        width: 80%;
        margin-bottom: 10px;
    }

    .seccion_compra {
        margin-top: 1rem;
        padding-left: 10px;
    }

    .metodos_compra {
        flex-direction: row;
        align-items: center;
    }

    .icono_compra {
        height: 3rem;
        width: 4rem;
        background-size: contain;
    }
}